<div *ngIf="!transactions">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="transactions">
	<table mat-table [dataSource]="transactions!" class="mat-elevation-z8">
		<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

		<!-- Position Column -->
		<ng-container matColumnDef="mNumber">
			<th mat-header-cell *matHeaderCellDef>Mediennummer</th>
			<td mat-cell *matCellDef="let element">{{ element.copy.id }}</td>
		</ng-container>
		<!-- Position Column -->
		<ng-container matColumnDef="title">
			<th mat-header-cell *matHeaderCellDef>Titel</th>
			<td mat-cell *matCellDef="let element">
				{{ element.copy.book.title }}
			</td>
		</ng-container>
		<!-- Position Column -->
		<ng-container matColumnDef="author">
			<th mat-header-cell *matHeaderCellDef>Autor</th>
			<td mat-cell *matCellDef="let element">
				{{ element.copy.book.author }}
			</td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="lentdate">
			<th mat-header-cell *matHeaderCellDef>Ausleihdatum</th>
			<td mat-cell *matCellDef="let element">
				{{ element.lentDate | unixToDateString }}
			</td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="backdate">
			<th mat-header-cell *matHeaderCellDef>Rückgabedatum</th>
			<td mat-cell *matCellDef="let element">
				{{ element.backDate | unixToDateString }}
			</td>
		</ng-container>
		<ng-container matColumnDef="maxBack">
			<th mat-header-cell *matHeaderCellDef>Frist</th>
			<td mat-cell *matCellDef="let element">
				{{ element.maxBack | unixToDateString }}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
