<button
	mat-icon-button
	aria-label="Example icon button with a vertical three dot icon"
	(click)="backToList()"
>
	<mat-icon>arrow_back_ios</mat-icon>
</button>
<span *ngIf="user" class="font-a">
	Details von {{ user.vorname }} {{ user.nachname }}
</span>

<mat-tab-group>
	<mat-tab label="Overview">
		<app-user-information [user]="user"></app-user-information>
	</mat-tab>
	<mat-tab label="Edit">
		<app-user-edit [user]="user"></app-user-edit>
	</mat-tab>
	<mat-tab label="Transactionen">
		<app-user-transactions [user]="user"></app-user-transactions>
	</mat-tab>
</mat-tab-group>
