<div class="headBar">
	<button mat-icon-button (click)="backToHome()">
		<mat-icon>arrow_back_ios</mat-icon>
	</button>
	<span class="font-a">Einstellungen</span>
	<mat-divider></mat-divider>
</div>

<!-- Wartung -->
<mat-card>
	<mat-card-title>Wartung</mat-card-title>
	<mat-card-content>
		<p>Einstellungen zur Wartung der Software</p>

		<mat-form-field appearance="fill">
			<mat-label>Admin-only Modus</mat-label>
			<mat-select
				name="wartungsmodus"
				[formControl]="settingsControls[0]"
			>
				<mat-option [value]="1"> AN </mat-option>
				<mat-option [value]="0"> AUS </mat-option>
			</mat-select>
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions align="end">
		<button mat-mini-fab color="primary" (click)="saveWartung()">
			<mat-icon>save</mat-icon>
		</button>
	</mat-card-actions>
	<mat-card-footer *ngIf="loading[0]">
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</mat-card-footer>
</mat-card>
