<div *ngIf="customer">
	<mat-card>
		<mat-card-title>Vorname:</mat-card-title>
		<mat-card-content>{{ customer.name }}</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Nachname:</mat-card-title>
		<mat-card-content>{{ customer.lastname }}</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Benutzernummer</mat-card-title>
		<mat-card-content>{{ customer.id }}</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Klasse</mat-card-title>
		<mat-card-content
			>{{ customer.class!.year
			}}{{ customer.class!.letter }}</mat-card-content
		>
	</mat-card>
</div>
