<div *ngIf="customer">
	<h2>Benutzer bearbeiten</h2>
	<div>
		<mat-form-field appearance="fill">
			<mat-label>name:</mat-label>
			<input
				matInput
				value="{{ customer.name }}"
				placeholder="John"
				#name
			/>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>lastname:</mat-label>
			<input
				matInput
				value="{{ customer.lastname }}"
				placeholder="Doe"
				#lastname
			/>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Klasse</mat-label>
			<mat-select name="class" [value]="customer.classId" #class>
				<mat-option *ngFor="let class of classes" [value]="class.id">
					{{ class.year }}{{ class.letter }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<br />
		<button
			mat-fab
			(click)="onSubmit(name.value, lastname.value, class.value)"
			color="primary"
			class="button"
			matTooltip="Änderung speichern"
		>
			<mat-icon>save</mat-icon>
		</button>
		<br />
		<br />
		<button
			mat-fab
			(click)="deleteCustomer()"
			class="button"
			matTooltip="Nutzer löschen (dies wird den Nutzer nicht umbringen)"
			aria-label="Example icon button with a delete icon"
		>
			<mat-icon>delete</mat-icon>
		</button>
		<br />
		<div id="printBox">
			<h2>Benutzerkarte drucken</h2>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Kartenposition</mat-label>
					<mat-select
						name="start"
						[(value)]="defaultLabelPosition"
						#start
					>
						<mat-option
							*ngFor="let position of labelPositions"
							[value]="position.position"
						>
							{{ position.label }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<button
					mat-flat-button
					color="primary"
					(click)="getPdfOfCustomers(start.value)"
					class="m20"
				>
					Karte anfordern
				</button>
				<div *ngIf="loadLables">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
			</div>
		</div>
	</div>
</div>
