<!--Header-Toolbar-->
<p>
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button mat-flat-button color="primary" routerLink="">
				<mat-icon>home</mat-icon>
			</button>
			<span>{{ title }}</span>
			<span class="example-spacer"></span>
			<button
				mat-flat-button
				class="example-icon"
				(click)="toggleLogin()"
				color="accent"
			>
				<mat-icon *ngIf="getLoggedIn()">reorder</mat-icon>
				<span *ngIf="!getLoggedIn()">Login</span>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
</p>

<div *ngIf="!workMode">
	<!--Router bzw. content-->
	<router-outlet></router-outlet>
</div>
<div *ngIf="workMode">WIR ARBEITEN!</div>

<div *ngIf="showLogin">
	<div id="loginContainer">
		<app-login id="loginBox"></app-login>
		<button mat-icon-button mat-tooltip="close" (click)="closeLogin()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>
<!--messages display-->
<!-- <app-message></app-message> -->

<!-- footer -->
<!-- <p class="footer">
	<mat-toolbar color="primary">
		<mat-icon>copyright</mat-icon>
		<span>{{ footerText }}</span>
	</mat-toolbar>
</p> -->
<!-- <app-markdown-display></app-markdown-display> -->
