.footer {
	position: fixed;
	bottom: 0%;
	left: 0%;
	height: 50px;
	width: 100%;
	z-index: 100;
}
.example-spacer {
	flex: 1 1 auto;
}
#login {
	width: 300px;
	margin: 20px;
}

#loginBox {
	position: fixed;
	top: 50%;
	right: 50%;

	transform: translate(50%, -50%);

	width: 400px;
	z-index: 100;
}
#loginContainer {
	position: fixed;
	top: 64px;
	left: 0px;
	z-index: 99;
	height: 100%;
	width: 100%;

	background-color: rgba(64, 64, 64, 0.558);
}
