<div class="headBar">
	<button
		mat-icon-button
		aria-label="Example icon button with a vertical three dot icon"
		(click)="backToHome()"
	>
		<mat-icon>arrow_back_ios</mat-icon>
	</button>
	<span class="font-a">Benutzer</span>
	<mat-divider></mat-divider>
</div>

<div class="searchMenu">
	<mat-form-field appearance="fill">
		<mat-label>Suchen</mat-label>
		<input placeholder="z.B. John Doe" matInput #searchterm />
	</mat-form-field>
	<button
		mat-icon-button
		(click)="searchUser(searchterm.value)"
		matTooltip="Suchen"
	>
		<mat-icon>search</mat-icon>
	</button>
	<button
		mat-icon-button
		(click)="undoSearch()"
		matTooltip="gesammte Liste anzeigen"
	>
		<mat-icon>cancel</mat-icon>
	</button>
</div>

<div *ngIf="users.length == 0">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<!--if not searched-->
<mat-action-list *ngIf="searched == false">
	<mat-list-item *ngFor="let user of users" role="listitem">
		<app-user-list-item [user]="user"></app-user-list-item>
	</mat-list-item>
</mat-action-list>
<!--if searched-->
<mat-action-list *ngIf="searched == true">
	<mat-list-item *ngFor="let user of filteredUsers" role="listitem">
		<app-user-list-item [user]="user"></app-user-list-item>
	</mat-list-item>
</mat-action-list>

<div id="newButton">
	<button mat-fab color="primary" (click)="toggleNewEditor()">
		<mat-icon>edit</mat-icon>
	</button>
</div>
<div *ngIf="newEditor" id="newEditor">
	<app-user-new-editor></app-user-new-editor>
</div>
