<div class="headBar">
	<button mat-icon-button (click)="backToHome()">
		<mat-icon>arrow_back_ios</mat-icon>
	</button>
	<span class="font-a">Userlist</span>
	<mat-divider></mat-divider>
</div>

<div class="searchMenu">
	<mat-form-field appearance="fill">
		<mat-label>Suchen</mat-label>
		<input placeholder="'#' to search for group" matInput #searchterm />
	</mat-form-field>
	<button
		mat-icon-button
		(click)="searchUsers(searchterm.value)"
		matTooltip="Suchen"
	>
		<mat-icon>search</mat-icon>
	</button>
	<button
		mat-icon-button
		(click)="undoSearch()"
		matTooltip="gesammte Liste anzeigen"
	>
		<mat-icon>cancel</mat-icon>
	</button>
</div>

<mat-action-list *ngIf="searched == false">
	<mat-list-item *ngFor="let user of users" role="listitem">
		<admin-user-list-item [user]="user"></admin-user-list-item>
	</mat-list-item>
</mat-action-list>

<mat-action-list *ngIf="searched == true">
	<mat-list-item *ngFor="let user of filteredUsers" role="listitem">
		<admin-user-list-item [user]="user"></admin-user-list-item>
	</mat-list-item>
</mat-action-list>

<div id="newButton">
	<button mat-fab color="primary" (click)="toggleNewEditor()">
		<mat-icon>edit</mat-icon>
	</button>
</div>
<div *ngIf="newEditor" id="newEditor">
	<admin-user-new-editor (events)="onEvent($event)"></admin-user-new-editor>
</div>
