.btn {
	height: 100%;
	width: 100%;
}
mat-action-list {
	width: 75%;
}
h2 {
	margin-left: 20px;
}
.font-a {
	font-size: 20px;
}
.searchMenu {
	margin-left: 20px;
	margin-top: 10px;
}
app-book-list-item {
	height: 100%;
	width: 100%;
}
#newButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#newEditor {
	position: fixed;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	height: 500px;
	/* overflow: auto; */
	width: 900px;

	box-shadow: 5px 5px 18px 4px rgba(0, 0, 0, 0.46);
}
