<div class="headBar">
	<button
		mat-icon-button
		aria-label="Example icon button with a vertical three dot icon"
		routerLink="/home"
	>
		<mat-icon>arrow_back_ios</mat-icon>
	</button>
	<span class="font-a">Leihverkehr</span>
	<mat-divider></mat-divider>
</div>
<div class="content">
	<mat-card>
		<mat-card-title>Ausleihen</mat-card-title>
		<mat-card-content>
			<app-transactions-lent></app-transactions-lent>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Verlängern</mat-card-title>
		<mat-card-content>
			<app-transactions-extend></app-transactions-extend>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Zurrückgeben</mat-card-title>
		<mat-card-content>
			<app-transations-back></app-transations-back>
		</mat-card-content>
	</mat-card>
</div>
