<div *ngIf="book">
	<h2>{{ book.title }} bearbeiten</h2>
	<div>
		<mat-form-field appearance="fill">
			<mat-label>Titel:</mat-label>
			<input matInput value="{{ book.title }}" #title />
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Autor:</mat-label>
			<input matInput value="{{ book.author }}" #author />
		</mat-form-field>
		<br />
		<button
			mat-fab
			(click)="onSubmit(title.value, author.value)"
			color="primary"
			class="button"
			aria-label="Example icon button with a delete icon"
		>
			<mat-icon>save</mat-icon>
		</button>
		<br />
		<br />
		<button
			mat-fab
			(click)="deleteBook()"
			class="button"
			aria-label="Example icon button with a delete icon"
		>
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>
