@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:host {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
mat-form-field {
	margin: 20px;
}
h2 {
	margin-left: 20px;
	margin-bottom: 0px;
}
.space {
	height: 0px;
	width: 10px;
}
.button {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}
#titleInput,
#authorInput {
	width: 600px;
}
