.btn {
	height: 100%;
	width: 100%;
}
mat-action-list {
	width: 75%;
}
h2 {
	margin-left: 20px;
}
.font-a {
	font-size: 20px;
}
.searchMenu {
	margin-left: 20px;
	margin-top: 10px;
}
app-customer-list-item {
	height: 100%;
	width: 100%;
}
#newButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#newEditor {
	position: fixed;
	right: 20px;
	bottom: 80px;
	max-height: 500px;
	overflow: auto;
}
