<button
	mat-icon-button
	aria-label="Example icon button with a vertical three dot icon"
	(click)="backToList()"
>
	<mat-icon>arrow_back_ios</mat-icon>
</button>
<span *ngIf="book" class="font-a">{{ book.title }}</span>

<mat-tab-group #tabGroup (selectedTabChange)="selectedTabChange($event)">
	<mat-tab label="Overview">
		<app-book-information [book]="book"></app-book-information>
	</mat-tab>
	<mat-tab label="Exemplare">
		<app-book-copies [book]="book"></app-book-copies>
	</mat-tab>
	<mat-tab label="Bearbeiten">
		<app-book-edit [book]="book"></app-book-edit>
	</mat-tab>
</mat-tab-group>
<div *ngIf="!book">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
