<mat-card>
	<mat-card-title>Bücherliste</mat-card-title>
	<mat-card-content> Listen aller Bücher und Exemplare </mat-card-content>
	<mat-card-footer>
		<nav>
			<button mat-flat-button color="accent" routerLink="/books">
				Öffnen
			</button>
		</nav>
	</mat-card-footer>
</mat-card>
<mat-card>
	<mat-card-title>Benutzerliste</mat-card-title>
	<mat-card-content> Listen aller Benutzer </mat-card-content>
	<mat-card-footer>
		<nav>
			<button mat-flat-button color="accent" routerLink="/users">
				Öffnen
			</button>
		</nav>
	</mat-card-footer>
</mat-card>
<mat-card>
	<mat-card-title>Leihverkehr</mat-card-title>
	<mat-card-content> Bücher ausleihen und zurrückgeben </mat-card-content>
	<mat-card-footer>
		<nav>
			<button mat-flat-button color="accent" routerLink="/transactions">
				Öffnen
			</button>
		</nav>
	</mat-card-footer>
</mat-card>
