<mat-card>
	<mat-card-title>Bücherliste</mat-card-title>
	<mat-card-content>
		<span>Listen aller Bücher und Exemplare</span>
		<nav class="btn">
			<button mat-flat-button color="accent" routerLink="/books">
				Öffnen
			</button>
		</nav>
	</mat-card-content>
	<mat-card-footer> </mat-card-footer>
</mat-card>
<mat-card>
	<mat-card-title>Benutzerliste</mat-card-title>
	<mat-card-content>
		<span>Listen aller Benutzer</span>

		<nav class="btn">
			<button mat-flat-button color="accent" routerLink="/customers">
				Öffnen
			</button>
		</nav>
	</mat-card-content>
	<mat-card-footer> </mat-card-footer>
</mat-card>
<mat-card>
	<mat-card-title>Leihverkehr</mat-card-title>
	<mat-card-content>
		<span>Bücher ausleihen und zurrückgeben</span>
		<nav class="btn">
			<button mat-flat-button color="accent" routerLink="/transactions">
				Öffnen
			</button>
		</nav>
	</mat-card-content>
	<mat-card-footer> </mat-card-footer>
</mat-card>
<mat-card>
	<mat-card-title>Dokumentation</mat-card-title>
	<mat-card-content>
		<span
			>Dokumentation und Anleitung der API und der Nutzeroberfläche</span
		>
		<nav class="btn">
			<button mat-flat-button color="accent" routerLink="/documentation">
				Öffnen
			</button>
		</nav>
	</mat-card-content>
	<mat-card-footer> </mat-card-footer>
</mat-card>
