<mat-card>
	<mat-card-title>Neues Buch anlegen</mat-card-title>
	<mat-card-content>
		<mat-stepper orientation="vertical" #stepper>
			<!--Buchdetails-->
			<mat-step>
				<ng-template matStepLabel>Buchdetails angeben</ng-template>
				<mat-form-field appearance="fill">
					<mat-label>Titel:</mat-label>
					<input matInput value="" #title />
				</mat-form-field>
				<br />
				<mat-form-field appearance="fill">
					<mat-label>Autor:</mat-label>
					<input matInput value="" #author />
				</mat-form-field>
				<br />
				<button
					mat-button
					matStepperNext
					(click)="searchBooks(title.value, author.value)"
				>
					Next
				</button>
			</mat-step>

			<!--checkForBook-->
			<mat-step>
				<ng-template matStepLabel>
					Bestehendes Buch auswählen
				</ng-template>
				<div *ngIf="booksFoundByTitle.length != 0">
					<div>Bücher mit ähnlichem Titlel wie {{ title.value }}</div>
					<mat-list *ngFor="let book of booksFoundByTitle">
						<mat-list-item>
							{{ book.title }} - {{ book.author }}
							<button
								mat-button
								matStepperNext
								(click)="
									setNewBook(book.title, book.author, book.id)
								"
							>
								&gt;
							</button>
						</mat-list-item>
					</mat-list>
				</div>
				<div *ngIf="booksFoundByAuthor.length != 0">
					<div>Bücher mit ähnlichem Autor wie {{ author.value }}</div>
					<mat-list *ngFor="let book of booksFoundByAuthor">
						<mat-list-item>
							{{ book.title }} - {{ book.author }}
							<button
								mat-button
								matStepperNext
								(click)="
									setNewBook(book.title, book.author, book.id)
								"
								matTooltip="Neues Exemplar zu diesem Buch hinzufügen"
							>
								&gt;
							</button>
						</mat-list-item>
					</mat-list>
				</div>
				<div>
					<button
						mat-button
						matStepperNext
						(click)="newBook(title.value, author.value)"
						matTooltip="Neues Exemplar anlegen. NUR, wenn das Buch KEINS der oben genannten ist!"
					>
						neues Buch Anlegen &gt;
					</button>
				</div>
			</mat-step>

			<!--Created Copy-->
			<mat-step>
				<ng-template matStepLabel> Exemplare hinzufügen </ng-template>
				<div *ngIf="bookCreated">
					<mat-form-field appearance="fill" floatLabel="always">
						<mat-label>Anzahl</mat-label>
						<input
							matInput
							type="number"
							placeholder="1"
							value="1"
							#amount
						/>
					</mat-form-field>
					<button
						mat-flat-button
						matStepperNext
						(click)="newCopysToBook(newBookID!, amount.value)"
					>
						Exemplar(e) hinzufügen &gt;
					</button>
					<br />
					<button mat-flat-button (click)="reloadBookList()">
						Kein Exemplar hinzufügen
					</button>
				</div>
				<div *ngIf="!bookCreated">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
			</mat-step>

			<!--new copy details-->
			<mat-step>
				<ng-template matStepLabel> Exemplare ansehen </ng-template>
				<div *ngIf="newCopys.length != 0">
					<div>Neue Exemplare:</div>
					<div *ngFor="let copy of newCopys">
						<span>
							{{ copy.mNumber }}
						</span>
					</div>
				</div>
				<div *ngIf="newCopys.length == 0">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
				<button mat-button matStepperNext>Weiter</button>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel> Etiketten </ng-template>
				<div>
					<mat-form-field appearance="fill">
						<mat-label>Erste Etikette</mat-label>
						<mat-select
							name="start"
							[(value)]="defaultLabelPosition"
							#start
						>
							<mat-option
								*ngFor="let position of labelPositions"
								[value]="position.position"
							>
								{{ position.label }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div>
					<button mat-flat-button (click)="getPdfOfBooks()">
						Etiketten anfordern
					</button>
					<div *ngIf="loadLables">
						<mat-progress-bar
							mode="indeterminate"
						></mat-progress-bar>
					</div>
				</div>
				<button mat-flat-button (click)="reloadBookList()">
					überspringen
				</button>
			</mat-step>
		</mat-stepper>
	</mat-card-content>
</mat-card>
